- body_class 'form'

- content_for :heading do
  %h1 Edit profile

%form{action: '/profile/edit', method: 'post'}
  %fieldset
    %p{field_attr(:username)}
      %label Username:
      %input{type: 'text', name: 'profile[id]', value: @profile.id, disabled: true}

    %p{field_attr(:display_name)}
      %label Display name:
      %input{type: 'text', name: 'profile[display_name]', value: @profile.display_name}
      != show_errors_for :display_name

  %p.submit
    %button(type='submit') Save

