- content_for :heading do
  %h1= @profile.display_name

  = "%s projects" % @projects.size

  %section.projects
    %ul
    - @projects.each do |project|
      %li
        %a{href: R(@profile, project)}
          %img
          %strong= project.name
          %em= project.main_category_titles.join(', ')
