# Mac OS
.DS_Store

# Textmate
*.tmproj
tmtags

# Emacs
*~
\#*
.\#*

# VIM
*.swp
*.swo
*.swn

# Project (general)
/vendor/*/vendor
log/*
!log/.gitignore
.yardoc
doc
config/*
!config/defaults
!config/locales
!config/README
db/*.db
.sass-cache
.rvmrc
capybara-*.html
