#edit-actions {
  & {
    font-size: 8pt;
    position: fixed; top: 60px; left: 10px;
    opacity: 0.95;
    -webkit-transition: opacity 0.2s linear;
    @include border-radius(4px); width: 70px;
    @include shadow(3px 3px 0 rgba(black, 0.1));
    background: #222; color: #888; }

  &:hover {
    opacity: 1; }

  ul {
    @include horiz-list; }

  h5 {
    background: #555;
    @include border-top-radius(4px);
    font-size: 6pt;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0; padding: 3px 0 1px 0; }

  a.home {
    display: block;
    background: #7bd;
    color: #7bd * 0.9;
    margin: 3px; padding: 5px 10px 5px 10px;
    font-weight: normal;
    font-size: 10pt; text-align: center;
  }

  a.home:hover {
    background: #7bd * 1.1; }

  a {
    border-top: solid 1px rgba(white, 0.05);
    font-size: 8pt; font-weight: bold; color: #aaa;
    display: block;
    padding: 20px 10px;
    font-weight: normal;
    line-height: 1.3;
    color: $liteblue; }

  a:first-line {
    font-weight: bold; }

  a:hover {
    text-decoration: none;
    background: rgba(white, 0.1); }
}
