body {
  background: #eee; }

#content {
  background: white; min-height: 500px;
  width: 960px; margin: 10px auto 0 auto; padding: 10px; }

#footer {
  text-align: center;
  color: #ccc;
  width: 960px; margin: 40px auto 0 auto; }
