@import 'settings';
@include ae-reset;

@import 'layout';
@import 'folio_editor';
@import 'forms';
@import 'forms-ext';
@import 'facebox';
@import 'popup';
@import 'jquery-tiptip';

// Settings
$width: 250px;
$height: 156px;
$item-height: 230px;
$padding: 25px;

body {
  background: #eee; }

body.project #content {
  text-align: center; }

body.portfolio #content {
  padding: 50px; width: 850px; margin: 0 auto; }

#header {
  & {
    position: absolute; top: 0; left: 0; width: 100%;
    @include box-sizing(border-box);
    -webkit-transition: opacity 0.3s linear;
    opacity: 0.3; }

  &:hover {
    opacity: 1; } }

#header {
  & {
    padding: 10px;
    overflow: hidden; }

  nav {
    float: left; }

  a {
    color: $text; font-weight: normal; }

  a:hover {
    text-decoration: none; }

  ul {
    @include horiz-list; }

  span, em {
    font-style: normal; font-size: 0.9em; }

  #back {
    float: right; } }

// Projects
section.projects {
  margin: 0 -1 * $padding;

  ul {
    @include non-list; }

  ul li {
    float: left;
    width: $width; height: $item-height;
    margin: 0 $padding 0 $padding; display: block; }

  img {
    width: $width; height: $height; background: #ddd; }

  a {
    text-align: center;
    font-weight: normal;
    color: $text; }

  a:hover {
    text-decoration: none; }

  a:hover img {
    outline: solid 3px rgba(black, 0.3);
    background: #333; }

  strong {
    font-size: 1.1em; margin-bottom: -3px;
    display: block; }

  em {
    font-weight: normal; color: #888;
    font-family: times, serif;
    display: block; font-style: italic; }
}

hgroup.portfolio {
  & {
    text-align: center;
    margin: 0 0 25px 0; }

  h1, h5 {
    margin: 0; padding: 0; }

  h1 {
    color: #333; text-transform: uppercase;
    font: normal 23pt oswald, sans-serif; }

  h5 {
    font-family: times, serif; font-style: italic; color: #888;
    font-weight: normal;
    font-size: 1.2em; }

  a {
    color: #888; font-size: 0.7em;
    background: rgba(black, 0.1);
    padding: 2px 5px; @include border-radius(2px);
    @include shadow(1px 1px 0 rgba(black, 0.2));
    font-weight: normal; }

  a:hover {
    text-decoration: none;
    background: rgba(black, 0.18); }
  }
