@import 'settings';
@include ae-reset;

@import 'layout';
@import 'chrome';
@import 'folio_editor';

// Settings
$width: 250px;
$height: 150px;
$item-height: 230px;
$padding: 25px;

body.portfolio #content {
  padding: 50px; width: 850px;
  margin: 0 auto; background: white; padding-bottom: 40px;
  @include shadow(0 2px 3px rgba(black, 0.2)); }

#header {
  & {
    -webkit-transition: opacity 0.3s linear;
    opacity: 0.3; }

  &:hover {
    opacity: 1; } }

section.projects {
  margin: 0 -1 * $padding;

  ul {
    @include non-list; }

  ul li {
    float: left;
    width: $width; height: $item-height;
    margin: 0 $padding 0 $padding; display: block; }

  img {
    width: $width; height: $height; background: #ddd; }

  a {
    font-weight: normal;
    color: $text; }

  a:hover {
    text-decoration: none; }

  a:hover img {
    background: #333; }

  strong {
    display: block; }

  em {
    font-weight: normal;
    display: block; font-style: normal; }
}

hgroup.portfolio {
  & {
    margin: 0 0 25px 0; }

  h1, h5 {
    margin: 0; padding: 0; }

  h1 {
    color: #888;
    font: normal 18pt oswald, sans-serif;
    font-size: 18pt; }

  h5 {
    font-weight: normal;
    font-size: 1.2em; }

  a {
    color: #888; font-size: 0.7em;
    background: rgba(black, 0.1);
    padding: 2px 5px; @include border-radius(2px);
    @include shadow(1px 1px 0 rgba(black, 0.2));
    font-weight: normal; }

  a:hover {
    text-decoration: none;
    background: rgba(black, 0.18); }
  }
