- body_class 'form'
- title "Edit project"

- content_for :heading do
  %h1 Edit project

%form{action: R(@profile, @project, :edit), method: 'post'}
  != partial :'projects/_form'

  %p.submit
    %button(type='submit')= t('save')
