- body_class 'form'
- title t('new_project.title')

- content_for :heading do
  %h1= t('new_project.title')

%form{action: '/profile/upload', method: 'post'}
  != partial :'projects/_form'

  %p.submit
    %button(type='submit')= t('next')
