- body_class 'form register'
- title "Register"

- content_for :heading do
  %h1 Register

%form#register-form(action="/register" method="post")
  %p{field_attr(:email)}
    %label Email:
    %input{type: 'text', name: 'user[email]', id: 'email', value: @user.email, placeholder: 'Email'}
    != show_errors_for :email
  %p{field_attr(:profile_id)}
    %label Username:
    %input{type: 'text', name: 'user[profile_id]', id: 'profile_id', value: @user.profile_id, placeholder: 'Username'}
    != show_errors_for :profile_id
  %p{field_attr(:display_name)}
    %label Your name:
    %input{type: 'text', name: 'profile[display_name]', id: 'display_name', value: @user.profile.display_name, placeholder: 'Jason Smith'}
    != show_errors_for :display_name
  %p{field_attr(:password)}
    %label Password:
    %input{type: 'password', name: 'user[password]', id: 'password', value: '', placeholder: 'Password'}
    != show_errors_for :password
  %p.password_confirmation
    %label Confirm:
    %input{type: 'password', name: 'user[password_confirmation]', id: 'password_confirmation', value: '', placeholder: 'Confirm password'}
  %p.submit
    %button(type='submit') Register
