%nav#edit-actions
  %nav.main
    %a.home{href: '/'}
      PWDO
      
    %a.profile{href: R(my_profile), title: t('folio_editor.back_to_profile')}
      != "@%s" % my_profile.name

  != yield_content :edit_actions
