%nav#edit-actions
  %a.home{href: '/', title: 'Back to home'}
    PWDO
    
  %a.profile{href: R(my_profile), title: 'Go to your profile'}
    != "@%s" % my_profile.name

  %ul
    != yield_content :edit_actions
