%header#header
  - if @profile && R(@profile) != request.path
    %nav.pair#owner
      %a{href: R(@profile)}
        %span Back to
        %strong= @profile.display_name

  %nav#back
    %a.pair{href: '/'}
      %span See more of the
      %strong PWDO Network
