%header#header
  %a#logo{href: '/'}
    PWDO

  - if authenticated?
    %nav#actions
      %ul
        %li
          %a.you{href: R(my_profile)}
            = "@%s" % my_profile.id
        %li
          %a{href: '/profile/edit'} Edit profile
        %li
          %a{href: '/profile/upload'} New project

  %nav#aux
    %ul
      - if authenticated?
        %li
          %a{href: '/logout'} Logout
      - else
        %li
          %a{href: '/login'} Login
        %li
          %a{href: '/register'} Register

