%header#header
  %a#logo{href: '/'}
    PWDO

  %nav#links
    %ul
      %li.pair
        %a{href: '/members'}
          %strong Members
          %span directory

      %li.pair
        %a{href: '/explore'}
          %strong Explore
          %span projects

  %nav#aux
    %ul
      - if authenticated?
        %li
          %a{href: '/logout'}= t('nav.logout')
      - else
        %li
          %a{href: '/login'}= t('nav.login')
        %li
          %a{href: '/register'}= t('nav.register')

