- hide_you ||= false

%nav#actions
  %ul
    - unless hide_you
      %li.pair
        %a.you{href: R(my_profile)}
          %strong= my_profile.display_name
          %span= "@%s" % my_profile.name

    %li.pair
      %a{href: '/profile/edit'}
        %strong Edit
        %span your profile

    %li.pair
      %a{href: '/profile/upload'}
        %strong Add
        %span new project
