- body_class 'home'
- title "Welcome!"

.front-gallery
  %ul
    - (0...16).each do |i|
      - profile = @profiles[i]
      - if profile
        %li
          %a{href: R(profile)}
            %img
            %strong= profile.display_name
            %em Development, Design

      - else
        %li.blank
          %img
