- body_class 'home'
- title t('home.title')

%section.front-gallery
  %ul
    - (0...16).each do |i|
      - if i == 3
        %li.manifesto
          %strong= t('home.manifesto.h')
          %span=   t('home.manifesto.p')

      - profile = @profiles[i]
      - if profile
        %li
          %a{href: R(profile)}
            - if profile.main_image
              %img{src: profile.main_image.small_url}
            - else
              %img.blank
            %strong= profile.display_name
            %em= profile.main_category_titles.join(', ')

      - else
        %li.blank
          %img

