- body_class 'home'
- title t('home.title')

.front-gallery
  %ul
    - (0...16).each do |i|
      - if i == 3
        %li.manifesto
          %strong= t('home.manifesto.h')
          %span=   t('home.manifesto.p')

      - profile = @profiles[i]
      - if profile
        %li
          %a{href: R(profile)}
            %img
            %strong= profile.display_name
            %em Development, Design

      - else
        %li.blank
          %img

