- body_class 'home'
- title "Welcome!"

.front-gallery
  %ul
    - (0...16).each do |i|
      - if i == 3
        %li.manifesto
          %strong
            The Philippine Web Designers Organization Network
          %span
            We are a group of professionals and hobbyists who create human interfaces
            for the Web, champion the use of standards, accessibility & usability,
            and aim to uplift the state of web design in the country.

      - profile = @profiles[i]
      - if profile
        %li
          %a{href: R(profile)}
            %img
            %strong= profile.display_name
            %em Development, Design

      - else
        %li.blank
          %img

